# Perform LF normalization
* text eol=lf

*.aac binary
*.aar binary
*.ai binary
*.gif binary
*.gz binary
*.ico binary
*.jpg binary
*.mp3 binary
*.odt binary
*.ogg binary
*.png binary
*.psd binary
*.ttf binary
*.xcf binary
