<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pupupon.armenianalphabet" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!-- Main Menu Activity -->
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Alphabet Activity -->
        <activity
            android:name=".AlphabetActivity"
            android:label="@string/alphabet_title"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />
        <!-- Quiz Activity -->
        <activity
            android:name=".QuizActivity"
            android:label="@string/quiz_title"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />
        <!-- Settings Activity -->
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_title"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />
        <!-- Help Activity -->
        <activity
            android:name=".HelpActivity"
            android:label="@string/help_title"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />
        <!-- About Activity -->
        <activity
            android:name=".AboutActivity"
            android:label="@string/about_title"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />
        <!-- Privacy Policy Activity -->
        <activity
            android:name=".PrivacyPolicyActivity"
            android:label="@string/policy_title"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />

    </application>

</manifest>
